@font-face {
    font-family: Gameofthrones;
    src: url('../../fonts/Gameofthrones.ttf');
}


h1, h2, h3, h4, h5, h6 {
    font-family: Gameofthrones;
}
h1 {
    color:aliceblue;
}

header{
        font-family: Gameofthrones;
       
}

body {
    font-family: Gameofthrones;
    padding-top: 50px;
    padding-bottom: 20px;
}

.inicio {
    background-image: url('../Images/Jon.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.tabuleiro{
    background: url('../Images/game-of-thrones-house-flags-wallpaper-3201.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.container {
}
#westeros-map {
    background-color:gray;
    width: 100%;
    border:2px solid #000000;
}
#info-jogador {
     background-color:gray;
     border:2px solid #000000;

}
main div {
  background: black;
  padding: 15px;
  max-width: 125px;
  margin: 5px;
}
.inline-block-centralizado {
  text-align: center;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}