@font-face {
    font-family: Gameofthrones;
    src: url('../../fonts/Gameofthrones.ttf');
}

h1.welcome-title {
    font-family: Gameofthrones;
    color:#ffffff;
    text-shadow:2px 2px #000; 
    text-align:center;
    margin-bottom:35px;
}

.welcome {
    background: url('../Images/wallpaper12.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
    width:100%;
    height:100%;
    position:fixed;
}

.content {
    position:relative;
    top:15%;
}

.player-form{
   position:relative;
   left:33%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.row {
    margin-left:0px !important;
}