<div class="row">
    <div class="col-md-12 text-center">
        <h1>Bem-vindo ao Warteros</h1>
    </div>
</div>
<div class="row">
    <div class="well well-sm">
        <form class="form-inline" method="post">
            <div class="row">
                <div class="col-md-12">
                    <input type="text" class="form-control" placeholder="Digite seu nome...">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <select class="form-control" id="selFamilias">
                        <option>Targaryen</option>
                        <option>Lannister</option>
                        <option>Stark</option>
                        <option>Baratheon</option>
                        <option>Greyjoy</option>
                        <option>Tyrell</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-info" href="@Url.Action("Index", "Map")">
                        Jogar
                    </a> 
                </div>
            </div>
        </form>
    </div>
</div>
