<div class="modal fade" id="modal-ataque" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title distribute name-region"></h4>
            </div>
            <div class="modal-body">
                <input class="region-id" value=""/>
                <h5>Tropas ao combate:</h5>
                <select class="form-control distribute" id="troops-attack">
                </select>
                <h5>Escolha de ataque:</h5>
                <select class="form-control distribute" id="fronteiras-inimigas">
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="attack">atacar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">fechar</button>
            </div>
        </div>
    </div>
</div>