<div class="modal fade" id="resultado-disputa" role="dialog">
    <div class="modal-dialog modal-battle">
        <div class="modal-content">
            <div class="modal-header">               
                <h5 class="modal-title distribute regions-battle"></h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="distribute" id="roll-the-dice"></div>
                </div>
                <hr />
                <div class="result distribute"></div>
            </div>
            <div class="modal-footer custom">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-modal btn-block btn-danger" data-dismiss="modal">fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>