<div class="modal fade" id="resultado-disputa" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Resultado da batalha</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="distribute" id="region-attack"></div>
                </div>
                <div class="row"><h4>Versus</h4></div>
                <div class="row">
                    <div class="distribute" id="region-defense"></div>
                </div>
            </div>
            <div class="row">
                Vitória: <span class="winner distribute"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">fechar</button>
            </div>
        </div>
    </div>
</div>