<div class="modal fade" id="modal-distribui" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">                
                <h5 class="modal-title distribute name-region"></h5>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div>
                        <input class="hidden" id="region-id" value="" />
                    </div>
                    <div class="form-group custom">
                        <label class="control-label col-md-7">
                            Quantidade de tropas
                        </label>
                        <div class="col-md-3">
                            <select class="form-control distribute" id="troops-available"></select>
                        </div>
                    </div>
                </form>   
            </div>
            <div class="modal-footer custom"> 
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-modal btn-block btn-danger" data-dismiss="modal">fechar</button>
                    </div>  
                    <div class="col-md-6">
                        <button type="button" class="btn btn-modal btn-block btn-primary" id="add-troops-btn">adicionar</button>
                    </div>           
                </div>                
            </div>
        </div>
    </div>
</div>