<div class="modal fade" id="modal-error" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title name-region"></h5>
            </div>
            <div class="modal-body">
                <div class="info" id="msg"></div>
            </div>
            <div class="modal-footer custom">
                <button type="button" class="btn btn-block btn-modal btn-danger" data-dismiss="modal">fechar</button>
            </div>
        </div>
    </div>
</div>