<div class="modal fade" id="modal-ia" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog custom">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title clean" id="player"></h5>
            </div>
            <div class="modal-body">
                <span>Distribuição de tropas</span>
                <div class="row">
                    <div class="clean" id="distributed-ia"></div>
                </div>
                <hr />
                <span>Ataques</span>
                <div class="clean" id="attack-ia"></div>
            </div>
            <div class="modal-footer custom">
                <button type="button" class="btn btn-block btn-modal close-ia btn-danger" data-dismiss="modal">fechar</button>
            </div>
        </div>
    </div>
</div>