<div class="modal fade" id="modal-info-geral" role="dialog">
    <div class="modal-dialog custom">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Informacoes de Jogo</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4 dice">
                       <span class="color dorne"></span> Dorne +@ViewBag.BonusDorne
                    </div>
                    <div class="col-md-4 dice">
                        <span class="color the-crowlands"></span> The Crownlands +@ViewBag.BonusTheCrownlands
                    </div>
                    <div class="col-md-4 dice">
                        <span class="color the-iron-islands"></span> The Iron Islands +@ViewBag.BonusTheIronIslands
                    </div>
                    <div class="col-md-4 dice">
                        <span class="color the-north"></span> The North +@ViewBag.BonusTheNorth
                    </div> 
                    <div class="col-md-4 dice">
                        <span class="color the-reach"></span> The Reach +@ViewBag.BonusTheReach
                    </div>  
                    <div class="col-md-4 dice">
                        <span class="color the-riverlands"></span> The Riverlands +@ViewBag.BonusTheRiverlands
                    </div>  
                    <div class="col-md-4 dice">
                        <span class="color the-stormlands"></span> The Stormlands +@ViewBag.BonusTheStormlands
                    </div>                    
                    <div class="col-md-4 dice">
                        <span class="color the-vale-of-arryn"></span> The Vale Of Arryn +@ViewBag.BonusTheValeOfArryn
                    </div> 
                    <div class="col-md-4 dice">
                        <span class="color the-westelands"></span> The Westerlands +@ViewBag.BonusTheWesterlands
                    </div>     
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr />
                    </div>
                </div>
                <div class="row info">
                    <div class="col-md-4">
                        <span class="color" style="background-color:@ViewBag.ColorPlayer1"></span> @ViewBag.Player1
                    </div>
                    <div class="col-md-4">
                        <span class="color" style="background-color:@ViewBag.ColorPlayer2"></span> @ViewBag.Player2
                    </div>
                    <div class="col-md-4">
                        <span class="color" style="background-color:@ViewBag.ColorPlayer3"></span> @ViewBag.Player3
                    </div>      
                </div>
            </div>                             
            <div class="modal-footer custom">
                <button type="button" class="btn btn-block btn-modal btn-danger" data-dismiss="modal">fechar</button>
            </div>
        </div>
    </div>
</div>