<div class="modal fade" id="modal-label" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Legenda</h5>
            </div>
            <div class="modal-body">
                <div>
                    <h4>Legenda</h4>
                    <main style="margin-bottom:10px">
                        <block>Cor</block>
                        <block>Familia</block>
                    </main>
                    <main style="margin-bottom:20px">
                        <block id="cor-familia" style="background-color:@ViewBag.ColorPlayer1"></block>
                        <block>@ViewBag.Player1</block>
                    </main>
                    <main style="margin-bottom:20px">
                        <block id="cor-familia" style="background-color:@ViewBag.ColorPlayer2"></block>
                        <block>@ViewBag.Player2</block>
                    </main>
                    <main style="margin-bottom:20px">
                        <block id="cor-familia" style="background-color:@ViewBag.ColorPlayer3"></block>
                        <block>@ViewBag.Player3</block>
                    </main>
                </div>
            </div>
            <div class="modal-footer custom">
                <button type="button" class="btn btn-block btn-modal btn-danger" data-dismiss="modal">fechar</button>
            </div>
        </div>
    </div>
</div>