<div class="modal fade" id="modal-mov-tropas" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title distribute name-region"></h4>
            </div>
            <div class="modal-body">
                <form>
                    <input class="hidden distribute region-id" value="" />
                    <div class="row custom">
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Tropas
                            </label>
                            <div class="col-md-3">
                                <select class="form-control distribute" id="move-troops"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group custom">
                            <label class="control-label col-md-3">
                                Fronteiras
                            </label>
                            <div class="col-md-9">
                                <select class="form-control distribute" id="fronteiras-aliadas"></select>
                            </div>
                        </div>
                    </div>
                </form>   
            </div>
            <div class="modal-footer custom">
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-modal btn-block btn-danger" data-dismiss="modal">fechar</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-modal btn-block btn-primary" id="move-btn">movimentar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>