<div class="modal fade" id="modal-objetivo" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Objetivo da casa @ViewBag.Familiy</h5>
            </div>
            <div class="modal-body">
                <div class="info" id="objective-text">
                    <span>@ViewBag.Objective</span>
                </div>
            </div>
            <div class="modal-footer custom">
                <button type="button" class="btn btn-block btn-modal btn-danger" data-dismiss="modal">fechar</button>
            </div>
        </div>
    </div>
</div>