<div class="modal fade" id="modal-victory" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Objetivo da casa <span id="family"></span></h5>
            </div>
            <div class="modal-body">
                <div class="info">
                    <span>Parabéns! Objetivo Concluído</span>
                    <div id="goal"></div>
                </div>
            </div>
            <div class="modal-footer custom">
                <a class="btn btn-block btn-modal btn-danger" href="/Victory/Index">Finalizar</a>
            </div>
        </div>
    </div>
</div>