


<header>
    <h1>Warteros</h1>
</header>
<body class="tabuleiro">
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <canvas id="westeros-map" width="1100" height="600"></canvas>
        </div>
        <div class="col-md-2">
            <div id="info-jogador" width="500" height="600">
                <div id="cabecalho-jogador">
                    <h4>João das Neves</h4>
                    <img src="../Content/Images/Stark2.png" width="100" alt="House Stark">
                </div>
                <div id="ataque">
                    <!--área de ataque-->
                       

                        <div class="container">
                          <h4>Ataque</h4>
                          
                          <!-- Trigger the modal with a button -->
                          <button type="button" onclick="criaRadioButton()" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal" style="margin-bottom:20px;">Atacar</button>
                          <!-- Modal -->
                          <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">
    
                              <!-- Modal content-->
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title">Disputa:</h4>
                                    <h5>Tropas ao combate:</h5>
                          
                                    <select>
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                    </select>
                                    <h5>Escolha de ataque:</h5>
                                    <form action="">
                                      <p id="fronteiras-inimigas" ></p>
                                    </form>
                                </div>
                                <div class="modal-body">
                                  <p>aqui ocorre o ataque.</p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default">efetuar ataque</button>
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                              </div>
      
                            </div>
                          </div>
  
                        </div>

                        

                    <!--area de ataque-->
                </div>
            </div>
        </div>
    </div>
</div>
</body>
                                 
    <script src="https://code.createjs.com/easeljs-0.8.2.min.js"></script>
    @section Scripts {
        @Scripts.Render("~/bundles/westeros-map")
    }


